* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;
    font-family: "Arimo", sans-serif;  
}

.bold {
    font-weight:700;
}

.superbold {
    font-weight:900;
}

.Cv {
    display:flex;
    flex-direction:row;
    font-family: "Arimo";  
}

.Cv_img_item {   
    border-radius:50%;
    width:200px;
    margin-left:130px;
}
.data_name {
    font-size:34px;
    color:#B5AB8C;
    

}
.Resume_content--left {
    width:600px;
    height:auto;
    /*background-color:#f3f3f3;*/
    /*background-color: #11687f;*/
    background-color: #ba934b;
    
}
.Cv .Left_section .Resume_content--left .Resume_content--left--items {
    width:500px;
}

.Left_section .Resume_content--left .data_name {
    font-size:34px;
    color:#B5AB8C;
    /*color:#3c3c3c;*/
    

}
.data_following_name {
    margin:10px 0 10px 90px  ;
    text-align:justify;
    font-size:20px;
    /*color:#B5AB8C;*/
    color:#3c3c3c;
    font-size:x-large;
}

hr {
    color:white;
    width:60%;
    border-style:solid;
    margin-bottom:10px;
    margin-left:100px;
    text-align:center;
}
.data {
    margin-top:5px;
    margin-bottom:10px;
    font-size: 27px;
    /*color:#B5AB8C;*/
    color:#3c3c3c;
    text-align:center;
}
.Skills .Skills_items {
    margin-top:10px;
    margin-bottom:10px;
    font-size:20px;
    text-align:center;
    color:white;
}
.Resume_content--right {
    height:1415px;
    width:1080px;
    font-family:"Arimo",sans-serif; 
}
.Resume_content--right--name--item {
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}
.Resume_content--right .Right_content {
    margin-left:150px;
}
.Rigth_content--JobTitle {
    text-align:center;
    font-size:40px;
    margin-top:100px;
    color:black;
}
.Work_E {
    margin-top:50px;
    /*color:#B5AB8C;*/
    /*color:#f04b4c;*/
    color:#ba934b;
}
.xp_container {
    display:flex;
    flex-direction:row;
}
.xp_container .xp_container--jobtitle {
    margin-left :20px;
}
.xp_job_description {
    margin:10px 10px 5px 10px;
}
.List_xp {
    margin-bottom:10px;
    margin-left:10px;
}
.Work_E {
    margin-bottom:10px;
}
.xp_job_description2 {
    margin-left:10px;
}
.span_period {
    width:100px;
}
.logo {
    display:solid;
    position:relative;
    left:450px;
}
.job_title {
    /*color:#9bc4d5;*/
    color:#ba934b;
}
